:root {
  --blue: #0080ff;
}
* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  border: none;
  transition: all 0.3s linear;
}
html {
  font-size: 52%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* ----------------------------------Start header */
header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 2rem 9%;
}
/* ------ Menu-Bar */
#menu-icon{
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/***RESPONSIVE */
@media(max-width:940px){
  #menu-icon{
    display: block;

  }
  .navbar{
    display: none;
  }
  html{
    font-size: 50%;
  }
}

 .slide{
  height:75vh;
  width: 180px;
  position: absolute;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center; 
  left: -25rem;
  top: 55.1px;
  z-index: 120;
  
} 
.slide.active{
  left: 0;
}


 .slide h1{
    color: var(--blue);
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    /* padding-right: 30px; */
    pointer-events: none;
 }
 .slide a{
  color: #fff;
  font-weight: 500;
  padding: 5px 0 ;
  display: block;
  text-transform: capitalize;
  transition: 0.2s ease-out;
  font-size: 2rem;
  width: 90%;
  height: auto;
  background: rgb(29, 31, 31);
  margin-bottom:30px ;
  padding-left: 5px;
 }
 .slide a:hover{
  color: var(--blue);
  padding-left: 10px;
 }




header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}
header .logo span {
  color: var(--blue);
}
header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}
header .navbar a:hover {
  color: var(--blue);
}
header .icon {
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}
header .icon:hover {
  color: var(--blue);
}
header .search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #333;
  display: flex;
  align-items: center;
  z-index: 101;
  padding: 1.5rem 2rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-form.active {
  clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100%);
}
header .search-form #search-bar {
  width: 100%;
  padding: 1rem;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}
header .search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
header .search-form label:hover {
  color: var(--blue);
}

/* ----------------------------------End - header */
/* -------------------------------------- Start log-in - */
  .login-form{
     position: fixed;
     top: -120%;
     left: 0;
     min-height: 100vh;
     width: 100%;
     background: rgba(0, 0, 0, 0.7);
     display: flex;
     justify-content:center;
     align-items: center;
     z-index: 101;
  }
  .login-form.active{
    top: 0;
  }
  .login-form i{
    font-size: 2.5rem;
    float: right;
    cursor: pointer;
    transition: 0s;

  }
  .login-form i:hover{
    color: red;
  }
 
  .login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
  }
  .login-form form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
    }
    .login-form form .box{
      width: 100%;
      padding: 1rem;
      font-size: 1.7rem;
      color: #333;
      margin: .6rem 0;
      border: .1rem solid rgba(0, 0, 0, 0.3);
      text-transform:  none;
    }
    .login-form form .btn{
      display: block;
      width: 100%;
    }
    /* ---global button */
    .btn{
      display: inline-block;
      margin-top: 1rem;
      color: var(--blue);
      padding: .8rem 3rem;
      border: .2rem solid var(--blue);
      cursor: pointer;
      font-size: 1.7rem;
      background: rgba(255, 165, 0, .2);
    }   
    .btn:hover{
      color: #fff;
      background: var(--blue);
    } 
    .login-form form #remember{
      margin: 2rem 0;
    }
    .login-form form label{
      font-size: 1.5rem;
    }
    .login-form form p{
      padding: .5rem 0;
      font-size: 1.5rem;
      color: #666;
    }
    .login-form form p a{
      color: var(--blue);
    }

/* -------------------------------------- End log-in - */

